<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="plantilla/UITemplate :: cabecera">
<meta charset="ISO-8859-1">
<title>Medicamento</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css">

</head>
<body style="background: #BDEC;">
	<!--consumir fragmento-->
	 <div th:insert="plantilla/UITemplate :: menu"></div>
	
	<div class="container">
		
			<h3 class="text-center mt-4">LISTA DE PACIENTES</h3>
			
			<button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#modalMedicamento" id="btn-nuevo">
			 <i class="far fa-file"></i> Nuevo Paciente
			</button>
			<div class=" mt-2">
	
				<table class="table table-striped table-bordered mt-5" id="tableMedicamentos">
							  <thead>
							   <tr>
					                <th>Código</th>
					                <th>Nombre</th>
					                <th>Apellido</th>
					                <th>Edad</th>
					                <th>Sexo</th>
					                <th>Telefono</th>
					                <th></th>
					             
					            </tr>
							  </thead>
							  <tbody>
								<tr th:each="data:${listaPacientes}">
							      <td th:text="${data.codigo}"></td>
							      <td th:text="${data.nombre}"></td>
							      <td th:text="${data.apellido}"></td>
							      <td th:text="${data.edad}"></td>
							      <td th:text="${data.sexo}"></td>
							      <td th:text="${data.telefono}"></td>
							      <td><a class="btn btn-info btn-editar" data-toggle="modal" data-target="#modalMedicamento"><i class="far fa-edit"></i></a></td>
							     
							    </tr>  
							  </tbody>
				</table>
			</div>
		
		
			<!-- begin #modal-dialog : MODAL MEDICAMENTO-->
			<div class="modal fade" id="modalMedicamento" data-backdrop="static" 
							data-keyboard="false" tabindex="-1" 
							aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-login modal-lg" >					
							<div class="modal-content">
								<div class="modal-header bg-blue-darker">
									<h4 class="modal-title text-white">Medicamento</h4>
								</div>
								<div class="modal-body">
									<form method="POST" id="idRegistra" action="/paciente/grabar">	
										<input type="text" name="codigo" id="idCodigo" value="null">
										<div class="container">
											<div class="row">
												<div class="form-group has-feedback col-md-6">
														<label for="exampleInputEmail1"><b>DNI</b></label><br>		
														<i class="fas fa-file-signature form-control-feedback2"></i>	
														<input type="text" class="form-control"  id="idDni" placeholder="Ingresar nombre" name="dni">																										
												</div>
												<div class="form-group has-feedback col-md-6">
														<label for="exampleInputEmail1"><b>Nombre</b></label><br>		
														<i class="fas fa-file-signature form-control-feedback2"></i>	
														<input type="text" class="form-control"  id="idNombre" placeholder="Ingresar nombre" name="nombre">																										
												</div>
												<div class="form-group has-feedback col-md-6">
														<label for="exampleInputEmail1"><b>Apellido</b></label><br>		
														<i class="fas fa-file-signature form-control-feedback2"></i>	
														<input type="text" class="form-control"  id="idApellido" placeholder="Ingresar nombre" name="apellido">																										
												</div>
												<div class="form-group has-feedback col-md-6">
														<label for="exampleInputEmail1"><b>Edad</b></label><br>		
														<i class="fas fa-file-signature form-control-feedback2"></i>	
														<input type="text" class="form-control"  id="idEdad" placeholder="Ingresar nombre" name="edad">																										
												</div>
												<div class="form-group has-feedback col-md-6">
														<label for="exampleInputEmail1"><b>Correo</b></label><br>		
														<i class="fas fa-file-signature form-control-feedback2"></i>	
														<input type="text" class="form-control"  id="idCorreo" placeholder="Ingresar nombre" name="correo">																										
												</div>
												<div class="form-group has-feedback col-md-6">
														<label for="exampleInputEmail1"><b>Telefono</b></label><br>		
														<i class="fas fa-file-signature form-control-feedback2"></i>	
														<input type="text" class="form-control"  id="idTelefono" placeholder="Ingresar nombre" name="telefono">																										
												</div>
											    <div class="form-group has-feedback col-md-6">	
														<label for="exampleInputEmail1"><b>Sexo</b></label><br>
												        <i class="fas fa-prescription-bottle-alt form-control-feedback2"></i>
													    <select class="form-control" id="idSexo" name="sexo">
													      <option value=" ">[Seleccione Sexo]</option>
													      <option value="F">Femenino</option>
													      <option value="M">Masculino</option>
													    </select>
													   
												 </div>
												 
											</div>
										</div>								
										<div class="col-md-12 text-center mt-4"> 										
											<button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i> Registrar</button>
											<button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
										</div> 																								
									</form>
								</div>
							</div>
						</div>
		</div>
		<!-- FIN Modal MEDICAMENTO-->	
		<form action="/topico/eliminar" method="post" id="frm-eliminar">
			<input type="hidden" name="codigo" id="codigo-eliminar"/>
			
		</form>
	
	</div>
	
	<div th:insert="plantilla/UITemplate :: java"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.3.0/alertify.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.3.0/alertify.js"></script>
		
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj;
		msj=/*[[${MENSAJE}]]*/
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});

		
	</script>
	
	
	<script>
		let codigoTipo=-1;
		
		$('#tableMedicamentos').DataTable();
		$(function() {
			$('#usr1').datepicker({
				'format': 'yyyy-mm-dd',
				'autoclose': true
			});
	
		});
		$('#usr1').on('changeDate show', function(e) {
		    $('#idRegistra').bootstrapValidator('revalidateField', $('#usr1'));
		});

	//asignar evento click a todos los botones con nombre de clase "btn-editar"
	$(document).on("click",".btn-editar",function(){
		//variable
		let cod;
		//obtener el código del medicamento según el botón editar que se pulsó
		cod=$(this).parents("tr").find("td")[0].innerHTML;
		//función get de JQUERY lee una ruta que retorna un JSON
		$.get("/paciente/buscar?codigo="+cod,function(response){
			//mostrar en los controles los valores de la response
			$("#idCodigo").val(response.codigo);
			$("#idDni").val(response.dni);
			$("#idNombre").val(response.nombre);
			$("#idApellido").val(response.apellido);
			$("#idEdad").val(response.edad);
			$("#idCorreo").val(response.correo);
			$("#idTelefono").val(response.telefono);
			$("#idSexo").val(response.sexo);
			
			//codigoTipo=response.tipo.codigo;
			//invocar al evento change del combo idLaboratorio
			//$("#idLaboratorio").trigger("change");
			console.log(response);
		})
		
	})
	//asignar evento click al botón con ID "btn-cerrar"
	$(document).on("click","#btn-cerrar",function(){
		//resetear el formulario
		$("#idRegistra").trigger("reset");
		$("#idCodigo").val(0);
		//resetear validaciones
		$("#idRegistra").data("bootstrapValidator").resetForm(true);
		
	})

	//asignar evento click a todos los botones con nombre de clase "btn-eliminar"
	$(document).on("click",".btn-eliminar",function(){
		//variable
		let cod;
		//obtener el código del medicamento según el botón editar que se pulsó
		cod=$(this).parents("tr").find("td")[0].innerHTML;
		$("#codigo-eliminar").val(cod);
		
		  alertify.confirm("SISTEMA","Seguro de eliminar!",
		  function(){//siiiiiiiiiiiiiiiii
				$("#frm-eliminar").submit();
		  },
		  function(){//nooooooooooooooooooooo 
			alertify.error('Cancelado!')
		  }).
		  set('labels', {ok:'Si', cancel:'No'});
	})

	//asignar evento change al combo con atributo ID "idLaboratorio"
	$(document).on("change","#idLaboratorio",function(){
		//obtener código del laboratorio actual
		let cod;
		cod=$(this).val();
		//limpiar combo tipo
		$("#idTipo").empty().append("<option value=' '>[Seleccione Tipo medicamento]</option>");
		$.get("/medicamento/listarPorLaboratorio?codLab="+cod,function(response){
			//console.log(response);
			//bucle
			$.each(response,function(i,e){			
				$("#idTipo").append("<option value='"+e.codigo+"'>"+e.nombre+"</option>");	
			})
			//asignar tipo de medicamento
			$("#idTipo").val(codigoTipo);
		})
	})
	

	</script>
	
	<script type="text/javascript">    
	    $(document).ready(function(){     
	
	        $('#idRegistra').bootstrapValidator({     
	        	feedbackIcons: {
	                valid: 'glyphicon glyphicon-ok',
	                invalid: 'glyphicon glyphicon-remove',
	                validating: 'glyphicon glyphicon-refresh'
	            },
	        	 fields:{
	        		 
	        		 Nombres: {
	     	    		selector:'#idNombre',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese nombre'    
	                        }      
	                    }    
	                },   
	                Descripcion: {
	     	    		selector:'#idDescripcion',       
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese descripción'    
	                        }      
	                    }    
	                },    
	                Stock: {
	     	    		selector:'#idStock',      
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese stock'    
	                        },
	                        regexp: {    
	                            regexp: /^[0-9]{1,2}$/,    
	                            message: 'Campo stock hasta dos cifras'    
	                        },   
	                    }    
	                },
	                precio: {
	     	    		selector:'#idPrecio',      
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Ingrese precio'    
	                        },
	                        regexp: {    
	                            regexp: /^(\d+|[0-9]+\.\d{1,2})$/,    
	                            message: 'Campo precio real hasta dos decimales'    
	                        },   
	                    }    
	                },       				
	                Fecha: {
	     	    		selector:'#usr1',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Seleccione fecha '    
	                        },
	                        date: {
	                            format: 'YYYY-MM-DD',
	                            message: 'The format is dd/mm/yyyy'
	                        },
	                    }    
	                },
	                Tipo: {
	     	    		selector:'#idTipo',   
	                    validators: {    
	                        notEmpty: {    
	                            message: 'Seleccione tipo medicamento'    
	                        },					
	                    }    
	                } 
	        	 }
	        })					
	    });    
	</script>   
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>